# LIBRARY

Module library yang akan digunakan Modul yang digunakan sebagai berikut :
- Pandas
- matplotlib
- Seaborn
- Numpy

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

## LOAD DATA FILE

Membaca file 'hotel_bookings.csv' dengan colomn reservaton_status_date sebagai index

In [2]:
df = pd.read_csv('hotel_bookings.csv',parse_dates=True,index_col='reservation_status_date')
df.head(20)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
reservation_status_date,,,,,,,,,,,,,,,,,,,,,
2015-07-01,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,3,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out
2015-07-01,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,4,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out
2015-07-02,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out
2015-07-02,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out
2015-07-03,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out
2015-07-03,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,0,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out
2015-07-03,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,0,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out
2015-07-03,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,0,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out
2015-05-06,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,0,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled
2015-04-22,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,0,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled
2015-06-23,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,0,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled
2015-07-05,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,0,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out
2015-07-05,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,0,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out
2015-07-05,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,1,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out
2015-07-05,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,0,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out
2015-07-05,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,0,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out
2015-07-05,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,0,No Deposit,8.0,NaN,0,Contract,97.50,0,0,Check-Out
2015-07-02,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,0,No Deposit,240.0,NaN,0,Transient,88.20,0,0,Check-Out
2015-07-02,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,0,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out
2015-07-05,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,0,No Deposit,250.0,NaN,0,Transient,153.00,0,1,Check-Out

# EDA (Exploration Data Analys)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 119390 entries, 2015-07-01 to 2017-09-07
Data columns (total 31 columns):
hotel                             119390 non-null object
is_canceled                       119390 non-null int64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119386 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           118902 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             103050 non-null float64
company                           6797 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119390 non-null object
dtypes: float64(4), int64(16), object(11)
memory usage: 29.1+ MB

In [4]:
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [5]:
children_is_null = df.children.isnull() 
df[children_is_null == True]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
reservation_status_date,,,,,,,,,,,,,,,,,,,,,
2015-08-01,City Hotel,1,2,2015,August,32,3,1,0,2,...,0,No Deposit,NaN,NaN,0,Transient-Party,12.0,0,1,Canceled
2015-08-04,City Hotel,1,1,2015,August,32,5,0,2,2,...,0,No Deposit,14.0,NaN,0,Transient-Party,12.0,0,1,Canceled
2015-08-04,City Hotel,1,1,2015,August,32,5,0,2,3,...,0,No Deposit,NaN,NaN,0,Transient-Party,18.0,0,2,Canceled
2015-08-09,City Hotel,1,8,2015,August,33,13,2,5,2,...,0,No Deposit,9.0,NaN,0,Transient-Party,76.5,0,1,Canceled

In [6]:
country_is_null = df.country.isnull()
df[country_is_null == True]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
reservation_status_date,,,,,,,,,,,,,,,,,,,,,
2015-07-15,Resort Hotel,0,118,2015,July,27,1,4,10,1,...,2,No Deposit,NaN,NaN,0,Transient,62.0,0,2,Check-Out
2016-02-15,Resort Hotel,1,0,2016,February,8,15,0,0,0,...,0,No Deposit,NaN,383.0,0,Transient,0.0,0,0,Canceled
2016-07-20,Resort Hotel,1,8,2016,July,30,21,0,1,1,...,0,No Deposit,NaN,204.0,0,Transient,73.0,0,2,Canceled
2016-07-22,Resort Hotel,1,39,2016,August,36,30,0,5,2,...,0,No Deposit,NaN,NaN,0,Transient,159.0,0,5,Canceled
2016-10-13,Resort Hotel,1,0,2016,October,42,13,0,1,1,...,0,No Deposit,NaN,457.0,0,Transient,50.0,0,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-04-10,City Hotel,1,0,2017,April,15,10,0,0,0,...,0,No Deposit,NaN,279.0,0,Transient,0.0,0,0,Canceled
2017-04-10,City Hotel,1,0,2017,April,15,10,0,0,0,...,0,No Deposit,NaN,279.0,0,Transient,0.0,0,0,Canceled
2017-04-10,City Hotel,1,0,2017,April,15,10,0,0,0,...,0,No Deposit,NaN,279.0,0,Transient,0.0,0,0,Canceled
2015-11-26,City Hotel,0,4,2015,November,48,23,1,2,1,...,0,No Deposit,37.0,NaN,0,Transient-Party,70.0,0,0,Check-Out
2016-11-17,City Hotel,0,1,2016,November,47,13,2,2,2,...,0,No Deposit,14.0,NaN,0,Group,105.0,0,1,Check-Out